muleapp/src/main/mule/muleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d194a03f-78dc-4b9a-a964-6c3b5cf09a97" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleappFlow" doc:id="641eae44-e5aa-465d-9785-dad683198c94" >
		<http:listener doc:name="Listener" doc:id="9a71893c-771a-413d-8552-bc1331cdccfe" config-ref="HTTP_Listener_config" path="/github"/>
		<set-payload value='#["Welcome to github repository new"]' doc:name="Set Payload" doc:id="13199ff1-7966-4038-9b8d-ed4da61e702d" />
	</flow>
</mule>
